<div class="pure-menu pure-menu-open pure-menu-horizontal">
		<ul>
			<li><%= link_to "Add A New Wine", new_wine_path %></li>
			<li><%= link_to "Add more wine stores", new_store_path %></li>
			<li><%= link_to "Back to list", wines_path %></li>
		</ul>
</div>

<div class="container">
	<h1>Add a New Wine!</h1>

    
	 <%= form_for @wine, html: { multipart: true } do |f| %>
	  <% if @wine.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

	      <ul>
		      <% @wine.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="form-group">
	    <%= f.label :Name %><br>
	    <%= f.text_field :name, class: 'form-control' %>
	  </div>
	  <div class="form-group">
	    <%= f.label :Grape %><br>
	    <%= f.text_field :grape, class: 'form-control' %>
	  </div>
	  	<div class="form-group">
	    <%= f.label :Region %><br>
	    <%= f.text_field :region, class: 'form-control' %>
	  </div>
	  <div class="form-group">
	    <%= f.label :Year %><br>
	    <%= f.text_field :year, class: 'form-control' %>
	  </div>
	  <div class="form-group">
	   		<p><%= f.label :Store %><%= f.collection_select :store, Store.all, :id, :name  %></p>
	   </div>
	  <div class="actions">
	    <%= f.submit 'Add New Wine!', class: 'btn btn-warning' %>
	  </div>
	<% end %>

</div> <!-- end container -->



